*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background-image: url("background.jpg");
    /* background: rgb(38, 38, 228); */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card{
    width: 350px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);

}
.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateY(360deg);
    transform-style: preserve-3d;
}
.card-front, card-back{
    position: absolute; 
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(89, 89, 231, 0.0),rgba(0,0,100,0.0)),url("image111.png");
    padding: 50px;
    box-sizing: border-box;
    backface-visibility: hidden;

}
.card-back{
    transform: rotateY(180deg);

}
.card h2{
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.input-box{
    width: 100%;
    background:transparent;
    border: 1px solid #fff;
    margin: 6px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
}
::placeholder{
    color: #fff;
    font-size: 12px;
}
.far fa-envelope{
    position: bottom;
}
button{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 35px 0 10px;
    height: 32px;
    font-size: 12px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
}
.input-box{
    font-family: fontawesome;
}
.submit-btn{
    position: relative;
}
.submit-btn::after{
    content: '\27a4';
    color: #333;
    line-height: 32px;
    font-size: 17px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: -1px;
    top: -1px;

}
span{
    font-size: 13px;
    margin-left: 10px;
}
.card .btn{
    margin-top: 70px;
}
.card a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: 8px;
}
#signup{
    width: 100%;
    background:transparent;
    border: 1px solid #fff;
    margin: 6px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;

}